<style type="text/css">

ul.media-list {}
.media-left {
	background-color: #DEDEDE;
}
img.media-object {}
.media-body {
	font-family: HelveticaNeue-Light;
	font-size: 18px;
	color: #000000;
	line-height: 29px;
}
.media-heading {
	/* 100th Response Provi: */
	font-family: HelveticaNeue-Medium;
	font-size: 28px;
	color: #000000;
	line-height: 34px;
}

</style>
